.article {
    margin-bottom: 40px;
}

body {
    overflow-x: hidden;
    background: #6c71c4 url('../img/stardust/stardust.png');
}

.page-header,
footer {
    margin-top: 0;
    background: none rgba(255, 255, 255, .4);
}

img {
    width: 90%;
}